/* ROBOTO FONT */
@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Thin.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Light.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* DEFAULT */

.font-weight-normal {
    font-weight: 500 !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}

.font-weight-bolder {
    font-weight: 700 !important;
}

.font-weight-strong {
    font-weight: 800 !important;
}

.font-weight-light {
    font-weight: 400 !important;
}

.text-white {
    color: white
}
/* DEFAULT */

/* TEXTS */
.textLarge {
    font-size: 2.2em;
}

.textBigger {
    font-size: 1.8em;
}

.textNormal {
    font-size: 1.3em;
}

.textSmall {
    font-size: 1.18em;
}

.textSmaller {
    font-size: 1em;
}

.textExtraSmall {
    font-size: 0.9em;
}

.lh-1-3 {
    line-height: 1.3em;
}

/* TEXTS */