@media (max-width: 1440px) {
    .textLarge {
        font-size: 1.9em;
    }
}

@media (max-width: 1400px) {
    .textCardAprender {
        font-size: 1.1em;
    }
    #logoCalendarTable {
        width: 6%;
    }
    .tdRightCircleAula {
        padding-left: 10px;
    }
}


@media (max-width: 1300px) {
    .textLarge {
        font-size: 1.7em;
    }
    .circleAula {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .textCardAprender {
        font-size: 1em;
    }
    .textBigger {
        font-size: 1.6em;
    }
    .textNormal {
        font-size: 1.1em;
    }
    .textSmall {
        font-size: 1em;
    }
    #btnParticipar {
        font-size: 1.4em;
    }
}


@media (max-width: 920px) {
    #imgLuciana {
        width: 65%;
    }
    .margin-mobile {
        padding-left: 3%;
        padding-right: 3%;
    }
    .textLarge {
        font-size: 1.7em;
    }
    .textBigger {
        font-size: 1.35em;
    }
    .textNormal {
        font-size: 1.2em;
    }
    .textSmall {
        font-size: 1.15em;
    }
    .btnReservar.textNormal {
        font-size: 1.05em;
    }
}


@media (max-width: 600px) {
    #imgLuciana {
        width: 100%;
        position: absolute;
        margin-top: -10%;
    }
    .margin-mobile {
        padding-left: 3%;
        padding-right: 3%;
    }
    .tr-mt {
        padding-top: 15px;
    }

    .logoImg {
        width: 95%;
    }
    .mt-luciana {
        margin-top: 80%;
    }
    #logoCalendar2 {
        width: 14%;
    }
    .circleAula {
        position: relative;
    }
    .tdRightCircleAula {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .textCardAprender {
        font-size: 1.2em;
    }
}