/*! CSS Used from: ../css/fonts.css */
.font-weight-bold{font-weight:600!important;}
.textBigger{font-size:1.7em;}
.textNormal{font-size:1.2em;}
/*! CSS Used from: ../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
hr{margin:1rem 0;color:inherit;background-color:currentColor;border:0;opacity:.25;}
hr:not([size]){height:1px;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
@media (min-width:992px){
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-3{flex:0 0 auto;width:25%;}
.col-lg-6{flex:0 0 auto;width:50%;}
.col-lg-8{flex:0 0 auto;width:66.66666667%;}
}
@media (min-width:1200px){
.col-xl-4{flex:0 0 auto;width:33.33333333%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mb-3{margin-bottom:1rem!important;}
.mb-5{margin-bottom:3rem!important;}
.text-center{text-align:center!important;}
/*! CSS Used from: ../css/style_ty.css */
:root{--primary:#21194f;--secondary:rgb(5,20,123);--greenParticipar:#25f21d;--yellow:rgb(255,189,36);}
body{background-image:url('../assets/banner_1.webp');background-position:top 0px center;background-repeat:no-repeat;background-size:cover;}
hr{height:3px;background-color:white;color:white;}
*{font-family:roboto, 'sans-serif';color:white;overflow-x:hidden;word-wrap:break-word;line-height:1.3em;}
.logoImg{width:80%;}
.yellow{color:var(--yellow);}
.btnReservar{background-color:var(--greenParticipar);color:#21194f!important;padding:18px!important;width:100%;}
.redBtn{color:white!important;background-color:#f40303;}
.btnReservar.btnFinal{border-radius:14px;}
.margin-mobile{padding-left:unset;padding-right:unset;}
/*! CSS Used from: ../css/responsividade.css */
@media (max-width: 1300px){
.textBigger{font-size:1.5em;}
.textNormal{font-size:1.05em;}
}
@media (max-width: 920px){
.margin-mobile{padding-left:3%;padding-right:3%;}
.textBigger{font-size:1.2em;}
.textNormal{font-size:1em;}
}
@media (max-width: 600px){
.margin-mobile{padding-left:3%;padding-right:3%;}
.logoImg{width:95%;}
}
/*! CSS Used fontfaces */
@font-face{font-family:roboto;src:url('../fonts/roboto/Roboto-Thin.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:roboto;src:url('../fonts/roboto/Roboto-Light.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:roboto;src:url('../fonts/roboto/Roboto-Regular.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:roboto;src:url('../fonts/roboto/Roboto-Bold.ttf');font-weight:600;font-style:normal;font-display:swap;}