/* VARIABLES */
:root {
    --primary: #21194f;
    --secondary: rgb(5,20,123);
    --greenParticipar: #25f21d;
    --yellow: rgb(255,189,36);
}

* {
    font-family: roboto, 'sans-serif';
    color: white;
    overflow-x: hidden;
    word-wrap: break-word;
    line-height: 1.3em;
}

#section1 {
    background-image: url('../assets/banner_1.webp');
    background-position: top 0px center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section5 {
    background-color: rgb(216,230,236);
}

.logoImg {
    width: 80%;
}

.yellow {
    color: var(--yellow);
}

.formInput {
    border: 1.5px solid #000;
    border-radius: 5px;
    font-size: 16px;
    height: 50px;
}

.colorPrimary {
    color: var(--primary);
}

.colorSecondary {
    color: var(--secondary);
}

.btnReservar {
    background-color: var(--greenParticipar);
    color: #21194f !important;
    padding: 18px !important;
    width: 100%;
}

.btnReservar.btnFinal {
    border-radius: 14px;
}

#logoYt {
    width: 6%;
}

#logoCalendar {
    width: 6%;
}

#logoCalendar2 {
    width: 8%;
}

#logoCalendarTable {
    width: 8%;
}

#footer {
    background-color: rgb(5,17,57);
}

table {
    width: 100%;
}

#tableDuvidas td {
    padding-top: 20px;
    /* border: solid 1px; */
}

td.right {
    padding-left: 50px;
    width: 50%;
}

td.rightSection1 {
    padding-left: 10px;
}

td.rightSection1.calendar {
    padding-left: 18px;
}

.tdCircleAula {
    width: 15%;
}

.circleAula {
    /* width: 300px;
    height: 150px; */
    position: absolute;
    /* left: -2%; */

    opacity: 1;
    border: 1.5px solid rgb(5,20,123);
    filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1) invert(0) sepia(0) blur(0px) grayscale(0);
    border-radius: 100px;
    background-image: none;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.blur {
    text-shadow: rgb(85, 97, 177) 1px 0 10px;
}

.margin-mobile {
    padding-left: unset;
    padding-right: unset;
}

.textCardAprender {
    font-size: 1.5em;
}

#tableAprender td {
    padding-top: 30px;
}

#imgLuciana {
    width: 90%;
}