/*! CSS Used from: ../css/fonts.css */
.font-weight-normal{font-weight:500!important;}
.font-weight-bold{font-weight:600!important;}
.font-weight-bolder{font-weight:700!important;}
.font-weight-light{font-weight:400!important;}
.text-white{color:white;}
.textLarge{font-size:2.2em;}
.textBigger{font-size:1.8em;}
.textNormal{font-size:1.3em;}
.textSmall{font-size:1.18em;}
.textSmaller{font-size:1em;}
.textExtraSmall{font-size:0.9em;}
/*! CSS Used from: ../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
img{vertical-align:middle;}
table{caption-side:bottom;border-collapse:collapse;}
tbody,td,tr{border-color:inherit;border-style:solid;border-width:0;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer;}
iframe{border:0;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-1{flex:0 0 auto;width:8.33333333%;}
.col-10{flex:0 0 auto;width:83.33333333%;}
@media (min-width:768px){
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-6{flex:0 0 auto;width:50%;}
}
@media (min-width:992px){
.col-lg-1{flex:0 0 auto;width:8.33333333%;}
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-3{flex:0 0 auto;width:25%;}
.col-lg-4{flex:0 0 auto;width:33.33333333%;}
.col-lg-5{flex:0 0 auto;width:41.66666667%;}
.col-lg-7{flex:0 0 auto;width:58.33333333%;}
.col-lg-8{flex:0 0 auto;width:66.66666667%;}
}
@media (min-width:1200px){
.col-xl-1{flex:0 0 auto;width:8.33333333%;}
.col-xl-2{flex:0 0 auto;width:16.66666667%;}
.col-xl-3{flex:0 0 auto;width:25%;}
.col-xl-4{flex:0 0 auto;width:33.33333333%;}
.col-xl-7{flex:0 0 auto;width:58.33333333%;}
}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.modal{position:fixed;top:0;left:0;z-index:1060;display:none;width:100%;height:100%;overflow-x:hidden;overflow-y:auto;outline:0;}
.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-none{display:none!important;}
.position-relative{position:relative!important;}
.position-absolute{position:absolute!important;}
.justify-content-center{justify-content:center!important;}
.align-items-center{align-items:center!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mb-3{margin-bottom:1rem!important;}
.mb-4{margin-bottom:1.5rem!important;}
.mb-5{margin-bottom:3rem!important;}
.p-3{padding:1rem!important;}
.text-center{text-align:center!important;}
.text-white{color:#fff!important;}
@media (min-width:768px){
.d-md-block{display:block!important;}
.d-md-table-cell{display:table-cell!important;}
.d-md-none{display:none!important;}
}
@media (min-width:992px){
.d-lg-block{display:block!important;}
.d-lg-none{display:none!important;}
.text-lg-start{text-align:left!important;}
}
/*! CSS Used from: ../css/style.css */
:root{--primary:#21194f;--secondary:rgb(5,20,123);--greenParticipar:#25f21d;--yellow:rgb(255,189,36);}
*{font-family:roboto, 'sans-serif';color:white;overflow-x:hidden;word-wrap:break-word;line-height:1.3em;}
#section1{background-image:url('../assets/banner_1.webp');background-position:top 0px center;background-repeat:no-repeat;background-size:cover;}
#section2-3{background-image:url('../assets/banner_1.webp');background-position:top 0px center;background-repeat:no-repeat;background-size:cover;}
#section5{background-color:rgb(216,230,236);}
#rowVenderMais{background-color:#ebf2f5;opacity: 4;}
.logoImg{width:80%;}
.robotImg{width: 20%; bottom: 18%; right: 27%;}
.yellow{color:var(--yellow);}
.formInput{border:1.5px solid #000;border-radius:5px;font-size:16px;height:50px;}
.colorPrimary{color:var(--primary);}
.colorSecondary{color:var(--secondary);}
.textMuted{color: #666666;}
.btnReservar{background-color:var(--greenParticipar);color:#21194f!important;padding:18px!important;width:100%;}
.btnReservar.btnFinal{border-radius:14px;}
#logoCalendar2{width:8%;}
#logoCalendarTable{width:8%;}
#footer{background-color:rgb(5,17,57);}
table{width:100%;}
#tableDuvidas td{padding-top:20px;}
td.right{padding-left:50px;width:50%;}
td.rightSection1{padding-left:10px;}
td.rightSection1.calendar{padding-left:18px;}
.tdCircleAula{width:15%;}
.circleAula{position:absolute;opacity:1;border:1.5px solid rgb(5,20,123);filter:hue-rotate(0deg) saturate(1) brightness(1) contrast(1) invert(0) sepia(0) blur(0px) grayscale(0);border-radius:100px;background-image:none;background-size:cover;padding-top:15px;padding-bottom:15px;padding-left:20px;padding-right:20px;}
.blur{text-shadow:rgb(85, 97, 177) 1px 0 10px;}
.margin-mobile{padding-left:unset;padding-right:unset;}
.textCardAprender{font-size:1.5em;}
#tableAprender td{padding-top:30px;}
#imgLuciana{width:65%;}
/*! CSS Used from: ../css/form.css */
.modal{display:none;position:fixed;z-index:1;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.623);}
.modal_content{background-color:rgb(0, 0, 0);position:absolute;top:20%;left:30%;width:40%;padding:20px;border-radius:5px;border:2px solid black;}
.close{font-size:20px;color:white;float:right;}
.close:hover{color:white;cursor:pointer;}
#_form_51_submit{width:100%;padding:20px 40px;background-color:var(--greenParticipar);border-radius:5px 5px 5px 5px;color:white;font-weight:800!important;font-size:1.3em;box-shadow:0px 0px 0px 0px;background:linear-gradient(270deg, #1deb49, #008c1e, #008c1e, #1deb49, #008c1e );background-size:400% 400%;-webkit-animation:Animation 5s ease infinite;-moz-animation:Animation 5s ease infinite;animation:Animation 5s ease infinite;}
.inputFormActive{border-color:#00c0af!important;border-width:1px 1px 1px 1px!important;border-radius:6px 6px 6px 6px!important;}
/*! CSS Used from: ../css/responsividade.css */
@media (max-width: 1600px) {
.textCardAprender {font-size: 1.2em;}
}
@media (max-width: 1400px){
.textCardAprender{font-size:1.1em;}
#logoCalendarTable{width:6%;}
.tdRightCircleAula{padding-left:10px;}
.robotImg{width: 40%; bottom: 18%; right: 10%;}
}
@media (max-width: 1300px){
#imgLuciana{width:90%;}
.textLarge{font-size:1.7em;}
.circleAula{padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px;}
.textCardAprender{font-size:1em;}
.textBigger{font-size:1.6em;}
.textNormal{font-size:1.1em;}
.textSmall{font-size:1em;}
}
@media (max-width: 920px){
#imgLuciana{width:65%;}
.margin-mobile{padding-left:3%;padding-right:3%;}
.textLarge{font-size:1.7em;}
.textBigger{font-size:1.35em;}
.textNormal{font-size:1.2em;}
.textSmall{font-size:1.15em;}
.btnReservar.textNormal{font-size:1.05em;}
.centerMobile{text-align: center !important;}
.robotImg{position: relative !important;width: 90%;bottom: unset; right: unset;}
}
@media (max-width: 600px){
#imgLuciana{width:100%;position:absolute;margin-top:-10%;}
.margin-mobile{padding-left:3%;padding-right:3%;}
.tr-mt{padding-top:15px;}
.logoImg{width:95%;}
.mt-luciana{margin-top:80%;}
#logoCalendar2{width:14%;}
.circleAula{position:relative;}
.tdRightCircleAula{flex-direction:column;width:100%;text-align:center;}
.textCardAprender{font-size:1.2em;}
}
/*! CSS Used fontfaces */
@font-face{font-family:roboto;src:url('../fonts/roboto/Roboto-Thin.woff2');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:roboto;src:url('../fonts/roboto/Roboto-Light.woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:roboto;src:url('../fonts/roboto/Roboto-Regular.woff2');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:roboto;src:url('../fonts/roboto/Roboto-Bold.woff2');font-weight:600;font-style:normal;font-display:swap;}